html {
    height: 100%;
    width: 100%;
}

nav {
    z-index: 2;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

nav p {
    font-family: "Poppins";
    font-size: 18px;
}

nav a {
    cursor: pointer;
}

#theme {
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Poppins";
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-image: url("/bg1.png");
    background-color: black; */
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    transition: background-color 0.5s;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.speed {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    align-items: center;
    width: 800px;
    /* background: linear-gradient(104.75deg, rgba(255, 255, 255, 0.05) 20.77%, rgba(255, 255, 255, 0.05) 74.83%); */
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 60px;
    padding: 4rem;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* background: radial-gradient(149.6% 149.6% at 49.94% 48.29%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 0, 0, 0) 100%); */
    /* background-blend-mode: multiply; */
    border: 0.1px solid #FFFFFF70;
    /* backdrop-filter: blur(2px); */
    background: linear-gradient(104.75deg, rgba(255, 255, 255, 0.1) 20.77%, rgba(255, 255, 255, 0.1) 74.83%);
}



.typingText {
    font-weight: "500";
    font-size: 30px;
    margin: 1rem;
    margin-top: 2rem;
    font-family: "Poppins";
}

.typingSpeed {
    font-size: 72px;
    margin: 0;
    font-family: "Poppins";
}

.inputBox, .regoButton {
    font-family: "Poppins";
    background-color: transparent;
    border: 0.5px solid white;
    border-radius: 3px;
    width: 300px;
    height: 30px;
    margin-top: 2rem;
    font-size: 20px;
    color: white;
    text-align: center;
}

.inputBox:focus {
    outline: none;
}

.regoButton {
    cursor: pointer;
    width: 300px;
    height: 34px;
    padding: 1px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

span {
    background-size: 200% 200%;
    background-image: linear-gradient(to right, black 47%, transparent 0);
    background-position: right;
    /* transition: background-position 0.2s linear; */
}

.currentCursor {
    background-position: left;
    transition: background-position 0.2s linear;
}

.typedOut {
    color: #606060;
}




/* //toggler */


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .2s;
    transition: .2s;
    outline: 2px solid white;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider {
    background-color: transparent;
}

input:focus+.slider {
    box-shadow: 0 0 1px transparent;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}